---
export interface Props {
  // Image dimensions
  bioImgWidth?: string
  bioImgHeight?: string
  bioImgRadius?: string
}

const { bioImgWidth = '100px', bioImgHeight = '100px', bioImgRadius = '50%' } = Astro.props
---

<div>
  <img src="/assets/profile-pic.jpeg" alt="Headshot of Victoria" style={`--bio-img-width: ${bioImgWidth}; --bio-img-height: ${bioImgHeight}; --bio-img-radius: ${bioImgRadius};`}/>
  <p>
    Hi, I'm <strong>Victoria</strong>. I'm a software engineer, open-source enthusiast, and community organizer based in San Francisco.
    <br /> <br />
    Follow me on <a href="https://www.linkedin.com/in/victoriabarnett0/" target="_blank">LinkedIn</a>,
    or see some of my work on <a href="https://github.com/victoria-riley-barnett" target="_blank">GitHub</a>!
  </p>
</div>

<style>
  div {
    align-items: center;
    display: flex;
  }

  img {
    width: var(--bio-img-width);
    height: var(--bio-img-height);
    border-radius: var(--bio-img-radius);
    display: block;
    margin-right: 20px;
  }

  p {
    font-size: 1.125rem;
  }
</style>