<footer>
  <div class="footer-inner">
    <span>
      &copy; {new Date().getFullYear()} Victoria Barnett
    </span>
  </div>
</footer>

<style>
  footer {
    color: var(--text-secondary);
    font-size: .8em;
    width: 100%;
    background: transparent;
  }

  .footer-inner {
    max-width: 800px; /* match .main-content-inner */
    margin: 1em auto;
    padding: 1em 1.8em;
    box-sizing: border-box;
    text-align: center;
  }

  @media (max-width: 520px) {
    .footer-inner {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }
</style>
