<a href="/" class="logo-link" aria-label="Home">
  <span class="logo-graphic" role="img" aria-hidden="true"></span>
</a>

<style>
  .logo-link { display: inline-block; width: 50px; height: 50px; }
  .logo-graphic {
    display: block;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('/assets/logo-light.png');
  }

  /* Prefer explicit data-theme attribute (set by the toggle) */
  :root[data-theme="dark"] .logo-graphic,
  :root.theme-dark .logo-graphic {
    background-image: url('/assets/logo-dark.png');
  }

  :root[data-theme="light"] .logo-graphic {
    background-image: url('/assets/logo-light.png');
  }

  /* If no explicit attribute/class, respect the user's system preference */
  @media (prefers-color-scheme: dark) {
    :root:not(.theme-dark):not([data-theme]) .logo-graphic {
      background-image: url('/assets/logo-dark.png');
    }
  }

  @media screen and (max-width: 520px) {
    .logo-link { width: 40px; height: 40px; }
  }
</style>
